<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hamro Note's End Point</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css">
</head>

<body>
    <table data-toggle="table" data-search="true" data-show-columns="true">
        <thead>
            <tr class="tr-class-1">
                <th data-field="name" rowspan="2" data-valign="middle">Hamro Note's API Endpoints</th>
                <th colspan="4">Detail</th>
            </tr>
            <tr class="tr-class-2">
                <th data-field="post">POST</th>
                <th data-field="get">GET</th>
                <th data-field="put">PUT</th>
                <th data-field="delete">DELETE</th>
            </tr>
        </thead>
        <tbody>
            <tr id="tr-id-1" class="tr-class-1" data-title="bootstrap table" data-object='{"key": "value"}'>
                <td id="td-id-1" class="td-class-1" data-title="bootstrap table">
                    <a href="/api/blog/v1/listblog" target="_blank">api/blog/v1/listblog</a>
                </td>
                <td data-value="526">:p</td>
                <td data-text="122">:p</td>
                <td data-i18n="delete">:p</td>
                <td>:p</td>
            </tr>
            <tr id="tr-id-2" class="tr-class-2">
                <td id="td-id-2" class="td-class-2">
                    <a href="api/blog/v1/blogdetail" target="_blank">api/blog/v1/blogdetail</a>
                </td>
                <td>:p</td>
                <td>:p</td>
                <td>:)</td>
                <td>:p</td>
            </tr>
            <tr id="tr-id-3" class="tr-class-3">
                <td id="td-id-3" class="td-class-3">
                    <a href="api/blog/v1/listcomment" target="_blank">api/blog/v1/listcomment</a>
                </td>
                <td>:p</td>
                <td>:p</td>
                <td>:p</td>
                <td>:p</td>
            </tr>
            <tr id="tr-id-4" class="tr-class-4">
                <td id="td-id-4" class="td-class-4">
                    <a href="api/blog/v1/detailcomment/" target="_blank">api/blog/v1/detailcomment</a>
                </td>
                <td>:p</td>
                <td>:p</td>
                <td>:p</td>
                <td>:p</td>
            </tr>
            <tr id="tr-id-4" class="tr-class-4">
                <td id="td-id-4" class="td-class-4">
                    <a href="api/accounts/v1/register/" target="_blank">api/accounts/v1/register</a>
                </td>
                <td>:p</td>
                <td>:p</td>
                <td>:p</td>
                <td>:p</td>
            </tr>

            <tr id="tr-id-4" class="tr-class-4">
                <td id="td-id-4" class="td-class-4">
                    <a href="api/accounts/v1/login/" target="_blank">api/accounts/v1/login</a>
                </td>
                <td>:p</td>
                <td>:p</td>
                <td>:p</td>
                <td>:p</td>
            </tr>

            <tr id="tr-id-4" class="tr-class-4">
                <td id="td-id-4" class="td-class-4">
                    <a href="api/posts/v1/post/list" target="_blank">api/posts/v1/post/list</a>
                </td>
                <td>:p</td>
                <td>:p</td>
                <td>:p</td>
                <td>:p</td>
            </tr>

            <tr id="tr-id-4" class="tr-class-4">
                <td id="td-id-4" class="td-class-4">
                    <a href="api/posts/v1/post/create" target="_blank">api/posts/v1/post/create</a>
                </td>
                <td>:p</td>
                <td>:p</td>
                <td>:p</td>
                <td>:p</td>
            </tr>

            <tr id="tr-id-4" class="tr-class-4">
                <td id="td-id-4" class="td-class-4">
                    <a href="api/posts/v1/post/explore" target="_blank">api/posts/v1/post/explore</a>
                </td>
                <td>:p</td>
                <td>:p</td>
                <td>:p</td>
                <td>:p</td>
            </tr>
            <tr id="tr-id-4" class="tr-class-4">
                <td id="td-id-4" class="td-class-4">
                    <a href="api/posts/v1/post/<str:post_slug>/" target="_blank">api/posts/v1/post/slug/</a>
                </td>
                <td>:p</td>
                <td>:p</td>
                <td>:p</td>
                <td>:p</td>
            </tr>
            <tr id="tr-id-4" class="tr-class-4">
                <td id="td-id-4" class="td-class-4">
                    <a href="api/posts/v1/post/<str:post_slug>/update/"
                        target="_blank">api/posts/v1/post/slug/update</a>
                </td>
                <td>:p</td>
                <td>:p</td>
                <td>:p</td>
                <td>:p</td>
            </tr>


            <tr id="tr-id-4" class="tr-class-4">
                <td id="td-id-4" class="td-class-4">
                    <a href="api/posts/v1/comment/list" target="_blank">api/posts/v1/comment/list</a>
                </td>
                <td>:p</td>
                <td>:p</td>
                <td>:p</td>
                <td>:p</td>
            </tr>

            <tr id="tr-id-4" class="tr-class-4">
                <td id="td-id-4" class="td-class-4">
                    <a href="api/posts/v1/comment/create" target="_blank">api/posts/v1/comment/create</a>
                </td>
                <td>:p</td>
                <td>:p</td>
                <td>:p</td>
                <td>:p</td>
            </tr>
            <tr id="tr-id-4" class="tr-class-4">
                <td id="td-id-4" class="td-class-4">
                    <a href="api/posts/v1/comment/<str:pk>/update" target="_blank">api/posts/v1/comment/update</a>
                </td>
                <td>:p</td>
                <td>:p</td>
                <td>:p</td>
                <td>:p</td>
            </tr>



        </tbody>
    </table>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>
</body>

</html>